.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-medium) {
    margin-top: 15%;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 25%;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 10%;
  }
}
// .results li {
//   @media only screen and (max-width: $bp-medium) {
//     width: 20rem;
//   }
// }

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
      @media only screen and (max-width: $bp-medium) {
        float: initial;
        width: max-content;
        font-size: 2rem;
        padding: 1.5rem;
      }
    }
    &--next {
      float: right;
      @media only screen and (max-width: $bp-medium) {
        float: initial;
        width: max-content;
        font-size: 2rem;
        padding: 1.5rem;
      }
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  @media only screen and (max-width: $bp-large) {
    display: none;
  }

  .credit-link:link,
  .credit-link:visited {
    color: $color-grey-dark-2;
  }
}
